body{
    font-family: 'Roboto', sans-serif;
}

.big-container{ /*html default value is block, which means containers will be displayed up and down, the big-container here applied the styple to the whole user card, not to the topbar and content containers */
    width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.container{
    height: 370px;
    width: 70%;
    margin: 20px auto; /*this will make the big container display in the center of the page*/
    border: solid;
    border-color: gainsboro;
}

.topbar{
    height: 60px;
    background-color: aqua;
    margin-bottom: 70px;
    padding: 20px;
    
}

.pic{
    border-radius: 50px;
    width: 120px;
    height: 120px;
    padding: 20px;
}

.content{
    padding: 0px 30px;
    margin: 10px;
}

.map{
    height: 20px;
}

.content p{
    margin: 10px 0px;
}

.icon{
    height: 20px;
    padding-right: 0px 10px; /* to make the icon and "edit profile" text has some space in between */
    margin: 0px;
}